<h1>{{title}}</h1>
<p>This API was last updated at {{date}}.</p>
<p>
  <em>Current Version:</em> {{version}}
</p>

<h2>Add Recipe</h2>
<section id="add-recipe">
  <input type="text" id="recipe-ingredients" value="" placeholder="List of Ingredients">
  <input type="text" id="recipe-type" value="" placeholder="Type of Pancake">
  <input type="text" id="recipe-topping" value="" placeholder="Toppings?">
  <input type="text" id="recipe-syrup" value="" placeholder="Syrup?">
  <input type="text" id="recipe-instructions" value="" placeholder="Instructions">
  <input type="text" id="recipe-time" value="" placeholder="Time">
  <button type="button" id="recipe-add-recipe">Add Recipe</button>
  <div class="error"></div>
</section>

<h2>Pancakes Listing</h2>
<section id='pancake-listing'>

</section>

<!-- defining an underscore.js template -->
<script type="text/template" id="recipe-template">
  <article>
    <strong>Ingredients</strong>: <%= ingredients %> <br>
    <strong>Type</strong>: <%= type %> <br>
    <strong>Topping</strong>: <%= topping %> <br>
    <strong>Syrup</strong>: <%= syrup %> <br>
    <strong>Instructions</strong>: <%= instructions %> <br>
    <strong>Time</strong>: <%= time %> <br>
  </article>
</script>

<!-- loading custom app -->
<script src='/javascripts/app.js'></script>
<script src='/javascripts/app.views.js'></script>
